.Tracklist {
    padding: 0;
}

.Track {
    display: flex;
    flex-direction: row;
}

.Track > div {
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Track > div:nth-child(1) {
    width: 400px;
}

.Track > div:nth-child(2) {
    width: 200px;
}

.Track > div:nth-child(3) {
    width: 80px;
}
