/* Their logo needs to be at minimum 70x30px
   https://developer.spotify.com/documentation/general/design-and-branding/#attribution */

:root {
    --spotify-logo-height: 36px;
    --spotify-logo-space: calc(var(--spotify-logo-height) / 2);
}

.SpotifyLogo {
    height: var(--spotify-logo-height);
    margin: var(--spotify-logo-space);
}
